<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xavier.ricardo.softapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="xavier.ricardo.softapp.tasks.NotificadorService" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-0381609228541841~8494761522"/>

        <activity android:name="xavier.ricardo.softapp.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name="xavier.ricardo.softapp.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="xavier.ricardo.softapp.EnderecoActivity"
            android:label="@string/title_activity_endereco"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="xavier.ricardo.softapp.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>

        <activity
            android:name="xavier.ricardo.softapp.DetalhesActivity"
            android:label="@string/title_activity_detalhes"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="xavier.ricardo.softapp.AnexoActivity"
            android:label="@string/title_activity_anexo"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="xavier.ricardo.softapp.EncerrarActivity"
            android:label="@string/title_activity_encerrar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="xavier.ricardo.softapp.AssinaturaActivity"
            android:label="@string/title_activity_assinatura"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="xavier.ricardo.softapp.NotificationReceiver"
            android:enabled="true" />

    </application>

</manifest>
